.card-logo {
    display: flex;
    border: 0;
    flex: 0 0 120px;
    background-color: $light;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    img {
        margin: auto;
        display: block;
    }
}

.card-logo-lg {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
