.section-glossary {
    h2 {
        margin: 0;
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        + {
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
    background-color: #ffe500;
    color: #000;
    background: #fff;
    padding: 4rem 0;
    .btn {
        margin-right: 0;
    }
}
.glossary-content {
    border-top: 15px solid #ffe500;
    overflow: hidden;
    padding: 4rem 0 0;
    position: relative;
    &:before {
        content: '';
        display: block;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: #ffe500;
        position: absolute;
        margin-left: -20px;
        top: -20px;
    }
}
.glossary-header {
    background-size: cover;
    z-index: 0;
    background-image: url(./assets/images/glossary.jpg);
    padding: 10rem 0;
    color: #fff;
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: block;
        position: absolute;
        top: 0;
        z-index: 0;
    }
    .container {
        z-index: 1;
    }
    h2 {
        text-align: center;
        font-size: 23px;
        font-weight: 700;
        margin: 0;
        color: #ffe500;
        + {
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

@media (min-width: 768px) {
    .glossary-header {
        h2 {
            font-size: 53px;
            + {
                p {
                    font-size: 23px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section-glossary {
        h2 {
            font-size: 53px;
            + {
                p {
                    font-size: 23px;
                }
            }
        }
    }
}
