html,
body {
    height: 100%;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
    .sidebar-sibling {
        margin-left: 260px;
    }
}

.b-sidebar {
    width: 260px;
}

.b-sidebar-outer ~ .sidebar-sibling {
    height: 100%;
}

.sidebar {
    display: flex;
    height: 100%;
    padding: 0;
    background-color: #080627; // $darker
    flex-wrap: wrap;
    flex-direction: column;

    .navbar-nav,
    .nav-item {
        width: 100%;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .header-brand img {
        width: 65px;
    }

     .navbar-nav .nav-link {
        padding: 0.75rem 1rem 0.75rem 1rem;
        font-weight: 500;
    }
     .navbar-nav .nav-link:hover {
        color: white;
        opacity: 0.9;
    }
     .navbar-nav .nav-link,
     .navbar-nav .nav-link i {
        color: white;
    }

     .navbar-nav .nav-link i {
        opacity: 0.5;
    }

    .navbar-nav .nav-link.router-link-exact-active,
    .navbar-nav .nav-link.router-link-exact-active i {
        color: $secondary;
        opacity: 1;
    }
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: column;
    width: 100%;
}

// @media (min-width: map-get($grid-breakpoints, 'md')) {
//     .navbar-expand-lg .navbar-collapse {
//         display: block !important;
//     }
// }
