<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5">
        <div class="card-body p-sm-5">
            <% if (locals.alert && alert.variant === 'danger') { %>
            <strong class="h2 d-block text-dark text-center mb-4">
                Oops...
            </strong>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } else { %>
            <strong class="h2 d-block text-dark text-center mb-4">
                Congratulations!
            </strong>
            <p>Your e-mail address has been verified.</p>
            <p>
                Make sure to enable MFA for your account after signing in. This will significantly improve the security
                of your wallet.
            </p>
            <a href="<%= params.return_url %>" class="btn rounded-pill btn-primary btn-block">
                Sign in
            </a>
            <% } %>
        </div>
    </div>
</div>