.section-faq {
    h5 {
        margin: 0;
        border-bottom: 1px solid #efefef;
        a {
            display: block;
            padding: 1rem 0;
            color: #000;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
        }
        + {
            div {
                padding: 0;
                p {
                    margin: 1rem 0 0;
                }
            }
        }
    }
}

.faq-header {
    background-size: cover;
    z-index: 0;
    background-image: url(./assets/images/faq.jpg);
    padding: 10rem 0;
    color: #fff;
    position: relative;
    text-align: center;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    h2 {
        text-align: center;
        font-size: 23px;
        font-weight: 700;
        margin: 0;
        color: #ffe500;
        + {
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
.faq-content {
    border-top: 15px solid #ffe500;
    overflow: hidden;
    padding: 4rem 0;
    position: relative;
    &:before {
        content: '';
        display: block;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: #ffe500;
        position: absolute;
        margin-left: -20px;
        top: -20px;
    }
}

@media (min-width: 768px) {
    .faq-header {
        h2 {
            font-size: 53px;
            + {
                p {
                    font-size: 23px;
                }
            }
        }
    }
}
