.jumbotron {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    position: relative;
    padding-top: 8rem;

    @media (min-width: map-get($grid-breakpoints, 'sm')) {
        padding-top: 10rem;

        .brand-text {
            font-size: 2rem !important;
        }
    }

    @media (min-width: map-get($grid-breakpoints, 'md')) {
        padding-top: 10rem;
        padding-bottom: 5rem;
        min-height: 900px;

        .brand-text {
            font-size: 2rem !important;
        }
    }

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        min-height: 900px;

        .brand-text {
            font-size: 3rem !important;
        }
    }

    @media (min-width: map-get($grid-breakpoints, 'xl')) {
        padding-top: 0;
        min-height: 1060px;

        + .container {
            margin-bottom: 5rem;
        }

        .brand-text {
            font-size: 3vw !important;
        }

        .brand-image {
            position: absolute;
            right: 0;
        }
    }
}
