html,
body {
    min-height: 100%;
    font-size: 16px;
    text-rendering: geometricPrecision !important;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pt-lg-10 {
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        padding-top: 10rem !important;
    }
}

.pb-lg-10 {
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        padding-bottom: 10rem !important;
    }
}

.container-pricing-max-height {
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        max-height: 800px;
    }
}

h1,
.h1 {
    font-family: $font-family-sans-serif;
    font-weight: 800 !important;
    text-transform: uppercase;
    line-height: 1;
    font-size: 2rem !important;

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        font-size: 2.8rem !important;
    }
}

h3,
.h3 {
    color: $white;
    font-weight: $font-weight-bold;
    font-size: 1.5rem;
}

.h4 {
    color: $primary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border-left: 3px solid $primary;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.h5 {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.65rem 1rem;
    border-radius: 5px;
    background-color: $secondary;

    & + .lead {
        font-size: 2.2rem;
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
        line-height: 1.3;
    }
}

.font-size-l {
    font-size: 3.2rem !important;
}

.font-size-xl {
    font-size: 4rem !important;
}

.line-height-2 {
    line-height: 2;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: $dark;

    i {
        font-size: 1.2rem;
    }

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        width: 80px;
        height: 80px;

        i {
            font-size: 2rem;
        }
    }
}

.bg-before-dark {
    position: relative;

    &:before {
        content: '';
        background-color: $darker;
        position: absolute;
        width: 100%;
        height: 325px;
        top: -1px;
        display: block;
    }
}

.bg-before-dark-contact {
    position: relative;

    &:before {
        background-color: $darker;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100px;
        display: block;

        @media (min-width: map-get($grid-breakpoints, 'lg')) {
            content: '';
        }
    }
}
.btn-icon {
    width: 50px !important;
    height: 50px !important;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 0 1rem;

    i {
        margin: 0 !important;
        font-size: 1.3rem !important;
    }
}

.list-disc {
    padding: 0;

    li {
        margin-bottom: 0.5rem;

        a {
            color: $white;

            &:before {
                content: '';
                display: inline-block;
                width: 3px;
                height: 3px;
                background-color: $secondary;
                margin-right: 0.5rem;
                margin-bottom: 0.2rem;
            }
        }
    }
}

.card-about-us {
    .card-header {
        height: 460px;
        background-size: cover;
    }
}

.card-contact {
    .card-header {
        height: 200px;
        border-top-right-radius: 10px;

        @media (min-width: map-get($grid-breakpoints, 'lg')) {
            height: 400px;
        }
    }
}

.form-control-underlined,
.form-control-underlined:focus {
    background: transparent;
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    color: $white;
    padding-left: 0;
    padding-right: 0;
}
.form-control-underlined:focus {
    border-color: $secondary;
}

textarea.form-control-underlined {
    resize: none;
    height: 150px;
}
