version: '3.5'

# This compose file only works when used in conjunction with the default docker-compose file.
# docker compose -f docker-compose.yml -r docker-compose.ci.yml

services:
    api:
        container_name: thx_api
        build:
            context: .
            dockerfile: apps/api/Dockerfile
            target: develop
        env_file:
            - apps/api/.env.example
            - apps/api/.env.ci
        ports:
            - 3001:3000
        depends_on:
            - mongo
            - hardhat