@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');

// Required
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import './scss/variables';
@import '~bootstrap/scss/variables';

// Optional
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';

// Defaults
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/pagination';

// Bootstrap Vue
@import '~bootstrap-vue/src/index.scss';

// Reset
@import './scss/root';

// Custom
@import './scss/buttons';
@import './scss/navbar';
@import './scss/forms';
@import './scss/custom-forms';
@import './scss/custom-switch';
@import './scss/sidebar';
@import './scss/jumbotron';
@import './scss/modals';
@import './scss/utilities';
@import './scss/identicon';
@import './scss/alert';
@import './scss/popover';

html,
body {
    background: $light;
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
    .container {
        max-width: map-get($grid-breakpoints, 'lg');
    }
}

widgetbot {
    width: 100% !important;
    max-width: 380px !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: auto;
    top: auto;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 100%;
}

.text-overflow-75 {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 75px;
}
