@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');

// Required
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '@thxnetwork/scss/_variables.scss';
@import '~bootstrap/scss/variables';

// Optional
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';

// Defaults
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/pagination';

// Bootstrap Vue
@import '~bootstrap-vue/src/index.scss';

// Reset
@import '@thxnetwork/scss/_root.scss';

// Custom
@import '@thxnetwork/scss/_buttons.scss';
@import '@thxnetwork/scss/_navbar.scss';
@import '@thxnetwork/scss/_forms.scss';
@import '@thxnetwork/scss/_custom-forms.scss';
@import '@thxnetwork/scss/_custom-switch.scss';
@import '@thxnetwork/scss/_dropdown.scss';
@import '@thxnetwork/scss/_sidebar.scss';
@import '@thxnetwork/scss/_jumbotron.scss';
@import '@thxnetwork/scss/_modals.scss';
@import '@thxnetwork/scss/_utilities.scss';
@import '@thxnetwork/scss/_identicon.scss';
@import '@thxnetwork/scss/_alert.scss';
@import '@thxnetwork/scss/_popover.scss';
@import '@thxnetwork/scss/_dark-mode.scss';

.b-tooltip {
    .arrow {
        border-bottom-color: $purple !important;
    }
    .tooltip-inner {
        max-width: 280px;
        background-color: $purple;
        text-align: left;
        padding: 1rem;
    }
}

html,
body {
    background: $light;
}

h2 {
    font-weight: bold;
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
    .container {
        max-width: map-get($grid-breakpoints, 'lg');
    }
}

widgetbot {
    width: 100% !important;
    max-width: 380px !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: auto;
    top: auto;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 100%;
}

.text-overflow-75 {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 75px;
}

.b-table-sticky-header, .table-responsive, [class*=table-responsive-] {
    margin: 0;
}

.table {
    th,
    td {
        vertical-align: middle;

        &:last-of-type {
            text-align: right;
        }
    }

    thead tr {
        background-color: #f8f9fa;

        th {
            font-weight: normal;
            color: gray;
            vertical-align: middle;
        }
    }
}

.table-header,
thead,
tbody {
    .custom-checkbox {
        margin: 0;
        .custom-control-label {
            border: 0;
            padding-left: 0;
            padding-right: 0;

            &:before,
            &:after {
                left: 0;
            }
        }
    }
}

.text-opaque {
    opacity: .6;
}