{
  "swagger": "2.0",
  "info": {
    "version": "1.23.3",
    "title": "THX API Specification",
    "description": "User guides are available at https://docs.thx.network."
  },
  "host": "api.thx.network",
  "basePath": "/v1",
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "string",
      "in": "header",
      "name": "X-PoolId",
      "description": "This header is used to verify ownership of the pool you are interacting with."
    }
  },
  "paths": {
    "/health/": {
      "get": {
        "tags": [
          "Health"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/health/assetpools": {
      "get": {
        "tags": [
          "Health"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/token/cs": {
      "get": {
        "tags": [
          "THX Token"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/token/ts": {
      "get": {
        "tags": [
          "THX Token"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/metadata/{metadataId}": {
      "get": {
        "tags": [
          "ERC721 Metadata"
        ],
        "description": "",
        "parameters": [
          {
            "name": "metadataId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Payment-Token",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/payments/{id}/pay": {
      "post": {
        "tags": [
          "Payments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Payment-Token",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/payments/": {
      "post": {
        "tags": [
          "Payments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "chainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/account/": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "authRequestMessage": {
                  "example": "any"
                },
                "authRequestSignature": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                },
                "address": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/account/twitter": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/account/youtube": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/account/spotify": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/account/login": {
      "post": {
        "tags": [
          "Account"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/pools/": {
      "post": {
        "tags": [
          "Pools"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "chainId": {
                  "example": "any"
                },
                "erc20tokens": {
                  "example": "any"
                },
                "erc721tokens": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Pools"
        ],
        "description": "",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/pools/{id}": {
      "get": {
        "tags": [
          "Pools"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Pools"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Pools"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "archived": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/pools/{id}/topup": {
      "post": {
        "tags": [
          "Pools"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/metrics/": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/erc20/token": {
      "get": {
        "tags": [
          "ERC20 Token"
        ],
        "description": "",
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of ERC20 tokens for this user.",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "array"
                },
                "items": {
                  "$ref": "#/definitions/ERC20Token"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/erc20/token/{id}": {
      "get": {
        "tags": [
          "ERC20 Token"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an ERC20 token for this user.",
            "schema": {
              "$ref": "#/definitions/ERC20Token"
            }
          }
        }
      }
    },
    "/erc20/": {
      "get": {
        "tags": [
          "ERC20 Contract"
        ],
        "description": "",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of ERC20 contracts for this user.",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "array"
                },
                "items": {
                  "$ref": "#/definitions/ERC20"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ERC20 Contract"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "chainId": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "symbol": {
                  "example": "any"
                },
                "totalSupply": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy an ERC20 contract for this user.",
            "schema": {
              "$ref": "#/definitions/ERC20"
            }
          },
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/erc20/{id}": {
      "get": {
        "tags": [
          "ERC20 Contract"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an ERC20 contract for this user.",
            "schema": {
              "$ref": "#/definitions/ERC20"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ERC20 Contract"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "ERC20 Contract"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/erc721/token": {
      "get": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/erc721/token/{id}": {
      "get": {
        "tags": [
          "ERC721 Token"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/erc721/": {
      "get": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ERC721"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "example": "any"
                },
                "chainId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "symbol": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/erc721/{id}": {
      "get": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get information of the ERC721 contract.",
            "schema": {
              "$ref": "#/definitions/ERC721"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/erc721/{id}/metadata/{metadataId}/mint": {
      "post": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "metadataId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "recipient": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/erc721/{id}/metadata/{metadataId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "metadataId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "attributes": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "ERC721 Metadata"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "metadataId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/erc721/{id}/metadata": {
      "get": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/erc721/{id}/metadata/": {
      "post": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "attributes": {
                  "example": "any"
                },
                "recipient": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/erc721/{id}/metadata/zip": {
      "post": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "propName": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/erc721/{id}/metadata/csv": {
      "get": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "ERC721"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/deposits/": {
      "get": {
        "tags": [
          "Deposits"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Deposits"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "example": "any"
                },
                "item": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deposits/{id}": {
      "get": {
        "tags": [
          "Deposits"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deposits/approve": {
      "post": {
        "tags": [
          "Deposits"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/members/": {
      "get": {
        "tags": [
          "Members"
        ],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Members"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/members/{address}": {
      "patch": {
        "tags": [
          "Members"
        ],
        "description": "",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "isManager": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "Members"
        ],
        "description": "",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Members"
        ],
        "description": "",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/memberships/": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "description": "",
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/memberships/{id}": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Memberships"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/promotions/": {
      "post": {
        "tags": [
          "Promotions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "value": {
                  "example": "any"
                },
                "price": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Promotions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/promotions/{id}": {
      "get": {
        "tags": [
          "Promotions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Promotions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/rewards/": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "withdrawUnlockDate": {
                  "example": "any"
                },
                "title": {
                  "example": "any"
                },
                "slug": {
                  "example": "any"
                },
                "withdrawLimit": {
                  "example": "any"
                },
                "withdrawAmount": {
                  "example": "any"
                },
                "withdrawDuration": {
                  "example": "any"
                },
                "isMembershipRequired": {
                  "example": "any"
                },
                "isClaimOnce": {
                  "example": "any"
                },
                "withdrawCondition": {
                  "example": "any"
                },
                "expiryDate": {
                  "example": "any"
                },
                "erc721metadataId": {
                  "example": "any"
                },
                "amount": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/rewards/{id}": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rewards/{id}/claims/qrcode": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/rewards/{id}/give": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "member": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/widgets/": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "description": "",
        "parameters": [
          {
            "name": "poolId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Widgets"
        ],
        "description": "",
        "parameters": [
          {
            "name": "X-PoolId",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "requestUris": {
                  "example": "any"
                },
                "postLogoutRedirectUris": {
                  "example": "any"
                },
                "metadata": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/widgets/{clientId}": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "description": "",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Widgets"
        ],
        "description": "",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/withdrawals/": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "member": {
                  "example": "any"
                },
                "withdrawUnlockDate": {
                  "example": "any"
                },
                "amount": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Withdrawals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "member",
            "in": "query",
            "type": "string"
          },
          {
            "name": "rewardId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/withdrawals/{id}": {
      "get": {
        "tags": [
          "Withdrawals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Withdrawals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/transactions/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/swaprules/": {
      "get": {
        "tags": [
          "ERC20SwapRules"
        ],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "ERC20SwapRules"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tokenInAddress": {
                  "example": "any"
                },
                "tokenMultiplier": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/swaprules/{id}": {
      "get": {
        "tags": [
          "ERC20SwapRules"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/upload/": {
      "put": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "440": {
            "description": ""
          }
        }
      }
    },
    "/swaps/": {
      "get": {
        "tags": [
          "ERC20Swaps"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "ERC20Swaps"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "swapRuleId": {
                  "example": "any"
                },
                "amountIn": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/swaps/{id}": {
      "get": {
        "tags": [
          "ERC20Swaps"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/brands/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clients/": {
      "get": {
        "tags": [
          "Client"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get a list of client credentials for this user",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "array"
                },
                "items": {
                  "$ref": "#/definitions/Client"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Client"
        ],
        "description": "",
        "parameters": [
          {
            "name": "x-poolid",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "example": "any"
                },
                "schema": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a set of client credentials",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        }
      }
    },
    "/clients/{id}": {
      "get": {
        "tags": [
          "Client"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a set of client credentials",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Client"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-poolid",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Edit paramed client credentials",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        }
      }
    },
    "/claims/{id}/collect": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/claims/{id}": {
      "get": {
        "tags": [
          "Claims"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a reward claim",
            "schema": {
              "$ref": "#/definitions/Claim"
            }
          }
        }
      }
    },
    "/claims/hash/{hash}": {
      "get": {
        "tags": [
          "Claims"
        ],
        "description": "",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "AssetPool": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "address": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "chainId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "erc20Id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "erc721Id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "clientId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "lastTransactionAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "version": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "variant": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "archived": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "boolean"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Brand": {
      "type": "object",
      "properties": {
        "logoImgUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "backgroundImgUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        }
      }
    },
    "Claim": {
      "type": "object",
      "properties": {
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "erc20Id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "erc721Id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "rewardId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Client": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "name": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "clientId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "grantType": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "registrationAccessToken": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "origins": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Deposit": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "amount": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "failReason": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "sender": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "receiver": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "item": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC20": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "type": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "address": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "chainId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "name": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "symbol": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "archived": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "boolean"
            }
          }
        },
        "logoImgUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC20Swap": {
      "type": "object",
      "properties": {
        "swapRuleId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "amountIn": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "amountOut": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC20SwapRule": {
      "type": "object",
      "properties": {
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "tokenInId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "tokenMultiplier": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC20Token": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "erc20Id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC721": {
      "type": "object",
      "properties": {
        "chainId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "name": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "symbol": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "address": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "baseURL": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "object"
                },
                "description": {
                  "type": "function"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "propType": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "description": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "required": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              }
            }
          }
        },
        "archived": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "boolean"
            }
          }
        },
        "logoImgUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC721Metadata": {
      "type": "object",
      "properties": {
        "erc721": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "title": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "attributes": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "object"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "required": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              }
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "ERC721Token": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "erc721Id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "metadataId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "tokenId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "recipient": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "failReason": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Payment": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "token": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "tokenAddress": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "chainId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "sender": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "receiver": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "item": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "successUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "cancelUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "failUrl": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "metadataId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Promotion": {
      "type": "object",
      "properties": {
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "title": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "value": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "price": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "poolAddress": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Reward": {
      "type": "object",
      "properties": {
        "title": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "slug": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "expiryDate": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "poolAddress": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "isMembershipRequired": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "boolean"
            }
          }
        },
        "isClaimOnce": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "boolean"
            }
          }
        },
        "erc721metadataId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "withdrawLimit": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "withdrawAmount": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "withdrawDuration": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "withdrawCondition": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "object"
            },
            "properties": {
              "type": "object",
              "properties": {
                "channelType": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                },
                "channelAction": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                },
                "channelItem": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "withdrawUnlockDate": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "amount": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Transaction": {
      "type": "object",
      "properties": {
        "from": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "to": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "nonce": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "transactionId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "transactionHash": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "gas": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "baseFee": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "maxFeePerGas": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "maxPriorityFeePerGas": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "type": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "call": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "object"
            },
            "properties": {
              "type": "object",
              "properties": {
                "fn": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                },
                "args": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "chainId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "failReason": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    },
    "Withdrawal": {
      "type": "object",
      "properties": {
        "state": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "type": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "poolId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "sub": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "beneficiary": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "amount": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "unlockDate": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "rewardId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "withdrawalId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "tokenId": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "number"
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "array"
            },
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        },
        "failReason": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "_id": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "updatedAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        },
        "createdAt": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "string"
            },
            "format": {
              "type": "string",
              "example": "date-time"
            }
          }
        }
      }
    }
  }
}