name: Smart Contract CI

on:
    push:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Install Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.x

            - name: Install dependencies
              run: yarn install

            - name: Build SDK
              run: npx nx build sdk
